#logoutbutton {
    background-color: rgb(244, 146, 178);
    color:rgb(67, 34, 34);
    border-color: rgb(60, 14, 50);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar__link {
    background-color: rgb(244, 146, 178);
    color:rgb(67, 34, 34);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#dashbutton {
    background-color: rgb(244, 146, 178);
    border-color: rgb(60, 14, 50);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}